.main-left {
	@include up-lg {
		padding-left: 280px;
	}
}

.m-15px-tb {
	margin-bottom: 15px;
	margin-top: 15px;
}

/* Section
---------------------*/
.section {
	padding: 100px 0;
	position: relative;
	@include down-md {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include down-sm {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

/* Home Banner
---------------------*/
.home-banner-01 {
	position: relative;
	.ht-text {
		color: $px-body-color;
		padding-top: 80px;
		padding-bottom: 80px;
		@include down-md {
			padding-top: 100px;
			padding-bottom: 0;
			text-align: center;
		}
		h6 {
			font-weight: 400;
			font-size: 20px;
			margin: 0 0 5px;
			color: rgba($px-white, 0.8);
		}
		h1 {
			font-weight: 500;
			font-size: 70px;
			margin-bottom: 15px;
			@include down-lg {
				font-size: 60px;
			}
			@include down-sm {
				font-size: 40px;
			}
		}
		h2 {
			@include down-md {
				font-size: 22px;
				line-height: 1.5;
			}
			@include down-sm {
				font-size: 18px;
			}
		}
		.btn-bar {
			padding-top: 30px;
			@include down-md {
				padding-top: 20px;
			}
			@include down-sm {
				padding-top: 15px;
			}
		}
	}
	.ht-img {
		position: relative;
		top: 60px;
		z-index: 1;
		text-align: center;
	}
	.bottom-ani {
		position: absolute;
		bottom: -8px;
		left: 0;
		right: 0;
		path {
			fill: $px-gray;
		}
	}
}

/* Home Banner
---------------------*/
.home-banner-02 {
	background-size: cover;
	background-position: 59% center; 
	position: relative;
	.min-vh-100 {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include down-sm {
		background-position: 65% center; 
	}
	.ht-text {
		color: $px-custom-1;
		padding-top: 80px;
		padding-bottom: 80px;
		@include down-md {
			padding-top: 100px;
			padding-bottom: 0;
			text-align: center;
		}
		h6 {
			font-weight: 400;
			font-size: 20px;
			margin: 0 0 5px;
			color: rgba($px-white, 0.8);
		}
		h1 {
			font-weight: 500;
			font-size: 70px;
			margin-bottom: 15px;
			@include down-md {
				font-size: 60px;
			}
			@include down-sm {
				font-size: 40px;
			}
		}
		h2 {
			@include down-md {
				font-size: 22px;
				line-height: 1.5;
			}
			@include down-sm {
				font-size: 18px;
			}
		}
		p {
			font-size: 18px;
			margin: 0;
		}
		.btn-bar {
			padding-top: 30px;
			@include down-md {
				padding-top: 20px;
			}
			@include down-sm {
				padding-top: 15px;
			}
		}
	}
	.social-icons {
		margin-top: 35px;
		a {
		    width: 40px;
		    height: 40px;
		    line-height: 40px;
		    border: 1px solid rgba($px-white,.8);
		    text-align: center;
		    border-radius: 3px;
		    margin-right: 10px;
		    color: $px-custom-1;
		    &:hover {
		    	background: $px-theme;
		    	border-color: $px-theme;
		    }
		}
	}

	.bottom-ani {
		position: absolute;
		bottom: -8px;
		left: 0;
		right: 0;
		path {
			fill: $px-gray;
		}
	}
}


.particles-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
}

.go-to-next {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	width: 35px;
	margin: auto;
	z-index: 1;
	text-align: center;
	a {
		width: 35px;
		height: 35px;
		position: relative;
		display: inline-block;
		background: $px-theme;
		border-radius: 50%;
		animation: down 1s linear infinite;
		-webkit-animation: down 1s linear infinite;
		span {
			border-top: 1px solid $px-white;
			border-right: 1px solid $px-white;
			width: 10px;
			height: 10px;
			position: absolute;
			top: -6px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			@include rotate(135); 
		}
	}
}

@-webkit-keyframes down {
    0%   { top:5px; opacity: 0; }
    30%  { top:15px; opacity: 1; }
    60%  { top:15px; opacity: 0.60; }
    100% { top:25px; opacity: 0; }
}

@keyframes down {
    0%   { top:5px; opacity: 0; }
    30%  { top:15px; opacity: 1; }
    100% { top:25px; opacity: 0; }
}
.video-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $px-black;
	opacity: 0.7;
}

/* About Me 
---------------------*/
.about-text {
	@include down-md {
		margin-top: 40px;
	}
	h3 {
		font-size: 45px;
	    font-weight: 700;
	    margin: 0 0 10px;
	    @include down-sm {
	    	font-size: 35px;
	    }
    }
    h4 {
    	font-weight: 600;
    	margin-bottom: 15px;
    	@include down-sm {
	    	font-size: 18px;
	    }
    }
    p {
    	font-size: 18px;
    	mark {
    		font-weight: 600;
    		color: $px-dark;
    	}
    }
    .btn-bar {
    	padding-top: 8px; 
    	a {
    		min-width: 150px;
    		text-align: center;
    		margin-right: 10px;
    	}
    }
}

.about-list {
	padding-top: 10px;
	.media {
		padding: 5px 0;
	}
	label {
	    color: $px-dark;
	    font-weight: 600;
	    width: 88px;
	    margin: 0;
	    position: relative;
	    &:after {
    	    content: "";
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 11px;
		    width: 1px;
		    height: 12px;
		    background: $px-dark;
		    @include rotate(15);
		    margin: auto;
		    opacity: 0.5;
	    }
	}
	p {
		margin: 0;
    	font-size: 15px;
	}
}

.about-img {
	box-shadow: $box-shadow;
	padding: 10px;
	background: $px-white;
	@include down-md {
		margin-top: 30px;
	}
}

.counter-section {
	padding: 40px 20px;
	.count-data {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.count {
		font-weight: 700;
		color: $px-white;
		margin: 0 0 10px;
	}
	p {
		font-weight: 500;
		margin: 0;
		color: $px-theme;
	}
}


/* Feature Box
---------------------*/
.feature-box-1 {
    padding: 30px;
    box-shadow: $box-shadow;
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;
    background: $px-white;
    @include transition(ease all 0.35s);
    top: 0;
    * {
    	@include transition(ease all 0.35s);
    }
    .icon {
	    width: 70px;
	    height: 70px;
	    line-height: 70px;
	    color: $px-theme;
	    text-align: center;
	    border-radius: 50%;
	    margin-bottom: 22px;
	    font-size: 47px;
	    i {
	    	line-height: 70px;
	    }
    }
    h5 {
    	color: $px-dark;
    	font-weight: 500;
    	margin-bottom: 12px;
    }
    p {
    	margin: 0;
    }
    &:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    bottom: auto;
	    height: 0;
	    width: 100%;
	    left: 0;
	    background: $px-dark;
	    z-index: -1;
	    @include transition(ease all 0.35s);
    }
    &:hover {
    	top: -5px;
    	h5 {
    		color: $px-white;
    	}
    	p {
    		color: rgba($px-white, 0.8);
    	}
    	&:after {
		    height: 100%;
		    top: auto;
		    bottom: 0;
	    }
    }
}

/* Resume Box
---------------------*/
.feature-box-2 {
    position: relative;
    padding: 30px 20px 30px 76px;
    margin: 15px 15px 20px;
    border-bottom: 3px solid $px-theme;
    background: $px-white;
    box-shadow: 0 0 24px rgba(0,0,0,0.08);
    border-radius: 5px;
    &.dark {
    	border-bottom: 3px solid $px-dark;
    	.icon {
    		background: $px-dark;
    	}
    }
	.icon {
	    width: 40px;
	    height: 40px;
	    position: absolute;
	    left: 20px;
	    right: 0;
	    background: $px-theme;
	    color: $px-white;
	    line-height: 40px;
	    text-align: center;
	    z-index: 1;
	    border-radius: 50%;
	}
	.time {
	    color: $px-theme;
	    font-size: 13px;
	    display: inline-block;
	    margin-bottom: 8px;
	    font-weight: 500;
	}
	h5 {
		font-weight: 500;
	    color: $px-dark;
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	p {
		margin: 0;
	}
}

/* Testimonials
---------------------*/
.testimonial-col-01 {
	background: $px-white;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.08);
    padding: 35px;
    margin: 10px 10px 20px;
    border-radius: 5px;
	.media {
		margin-bottom: 20px;
		.img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			overflow: hidden;
		}
		.media-body {
			padding-left: 15px;
			i {
				margin-right: 3px;
				color: #ffbb00;
				font-size: 20px;
			}
		}
	}
	.tc-info {
		h6 {
			font-weight: 500;
			color: $px-dark;
			margin-bottom: 5px;
			font-size: 20px;
		}
	}
	p {
		margin: 0;
	}
}

/* Blog 
---------------------*/
.blog-grid {
    margin-top: 15px;
    margin-bottom: 15px;
    .blog-img {
    	position: relative;
	    border-radius: 5px;
	    overflow: hidden;
    	.date {
    		position: absolute;
		    background: $px-dark;
		    color: $px-white;
		    padding: 8px 15px;
		    left: 0;
		    top: 10px;
		   	font-size: 14px;
    	}
    }
    .blog-info {
    	box-shadow: $box-shadow-lg;
	    border-radius: 5px;
	    background: $px-white;
        padding: 20px;
		margin: -30px 20px 0;
		position: relative;
    	h5 {
    		font-size: 22px;
    		font-weight: 500;
    		margin: 0 0 10px;
    		a {
    			color: $px-dark;
    		}
    	}
    	p {
    		margin: 0;
    	}
    	.btn-bar {
    		margin-top: 20px;
    	}
    }
}

/* Contact Us
---------------------*/
.contact-info {
	background: $px-white;
	box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
	padding: 30px;
}
.contact-name {
	margin-bottom: 30px;
	h5 {
		font-size: 20px;
		color: $px-dark;
		margin-bottom: 5px;
		font-weight: 500;
	}
	p {
		font-size: 16px;
		margin: 0;
	}
}
.social-share {
	a {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
		color: $px-white;
		text-align: center;
		margin-right: 10px;
	}
	.dribbble {
		box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
    	background-color: #ea4c89;
	}
	.behance {
		box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
    	background-color: #0067ff;
	}
	.linkedin {
		box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
    	background-color: #0177ac;
	}
}
.contact-form {
	background: $px-white;
	box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
	padding: 30px;
	.form-control {
		border: 1px solid rgba($px-dark, 0.2);
		background: transparent;
		border-radius: 5px;
		box-shadow: none !important;
		height: calc(2em + .75rem + 2px);
		&:focus {
			border: 1px solid $px-theme;
		}
		&.invalid {
			border-color: #ff0000;
		}
	}
	textarea.form-control {
		height: 110px;
	}
	.send {
		margin-top: 20px;
	}
}